.HomePostComments{
    padding: 0 10px 10px;
    font-size: 14px;
}

.HomePostComments p {
    padding: 3px 0;
}

.HomePostComments .viewAllComments,
.HomePostComments .viewLessComments {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.546);
}

.HomePostComments p span {
    cursor: pointer;
    font-weight: bold;
}