nav .container .navIcons {
    display: flex;
    justify-content: space-between;
    flex-basis: 26%;
}

nav .container .navIcons img {
    width: 28px;
    border-radius: 50%;
}

nav .container .navIcons svg {
    font-size: 28px;
    color: rgb(0, 0, 0);
}

.active{
    border-bottom: 3px solid;
    color: rgb(0, 0, 0);
}
